* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Work Sans', sans-serif;
}
:root {
    --mainColor1:#6b6969;
    --mainColor2: blueviolet;
    --mainLineheight: 1.7;
}
/* small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    
}
/* midium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
    
}
/* large */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
a{
    text-decoration-line: none;
    color: white;
}
hr {
    border: 1.5px solid #eee;
    
}
/* Start NavBar 1 */
.nav1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 150px;
    height: 170px;
    font-weight: 600;
    
}
.side {
    color: var(--mainColor1);
}
/* left side */
.left i {
    font-size: 14px;
}
.input1 {
    height: 35px;
    margin-left: 20px;
    border-radius: 25px;
    border-style: none;
    outline: none;
}
/* center side */
.spn1 {
    border: 3px solid var(--mainColor1);
    height: 90px;
    width: 200px;
    padding: 5px 12px;
    text-transform: uppercase;
    font-size: 18px;
    color: var(--mainColor1);
    letter-spacing: 3px;
    position: relative;
    right: 70px;
    
}
/* right side */
.right i {
    font-size: 18px;
    margin: 0 7px;
}
.right i:hover {
    transition:0.3s all linear ;
    color: #3d3d3d;
    font-size: 19px;
}
.spn2 {
    width: 20px;
    height: 20px;
    position: absolute;
    text-align: center;
    line-height: 1.3;
    top:55px;
    right: 145px;
    border-radius: 50%;
    background-color: var(--mainColor2);
    color: white;
}
/* End NavBar 1 */
/* Start NavBar 2 */
.nav2 {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.ul1 {
    list-style: none;
    display: flex;
    color: var(--mainColor1);
}
.ul1 li {
    padding: 0 17px;
    color: var(--mainColor1);
    font-size: 14px;
    text-transform: uppercase;
}
.ul1 li select {
    border-style:none ;
}
.ul1 li:hover {
    transition:0.2s all linear ;
    color: var(--mainColor2);
    font-size: 14.2px;

}
.drop_A {
    width: 200px;
    position: absolute;
    z-index: 2;
    top: 40px;
    left: 550px;
    box-shadow: 0px 0px 3px 0.4px #00000097;
    background-color: white;
    line-height: 3;
    display: none;
}
.drop_A li:first-child {
    border-top: 4px solid var(--mainColor2);
}
.nav2 .ul1 .Dc:hover .drop_A {
    display: block;
}
.drop_A li {
    text-transform: capitalize;
}
.drop_A li:hover {
    transition: 0.3s all linear;
    background-color: #7e7e7e;
    color: white;
}
/* End NavBar 2 */
/* additional */
.d_ {
    height: 65px;
    display: flex;
    padding: 0 155px;
    justify-content: start;
    align-items: center;
    background-color: #eee;
}
.d_ p:first-child {
    color: var(--mainColor2);
}
.d_ p:last-child {
    margin-left: 10px;
}

.d_ p {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 600;
}
/* content */
.content {
    height: 75vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.content > div:first-child {
    width: 50px;
    height: 50px;
    background-color: rgb(1, 176, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
    border-radius: 50%;
    position: relative;
    top: -60px;
}
.content > div:last-child {
    position: relative;
    top: -90px;
    
}
.content > div h1 {
    font-size: 60px;
    font-weight: 400;
}
.content > div p {
    font-size: 17px;
    color: #918c8c;
    
}
.content > button {
    width: 175px;
    height: 40px;
    margin-right: 25px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 1.5px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 60px;
    border: none;
    position: relative;
    right: -20px;
    color: white;
    background-color: var(--mainColor2);
}
.content > button:hover {
    transition: 0.3s all linear;
    background-color: rgb(122, 38, 200);
    transform: translateZ(1px);
    box-shadow: 0px 3px 5px black;
    color: white;
    
}
/* End content */
/* Start Footer */
.footer {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: space-around ;
    flex-wrap: wrap;
    padding: 100px 80px;
    position: relative;
}
ul {
    list-style: none;
}

.f_div1 h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.f_div1 .ul2 {
    font-size: 14px;
    color: #938e8e;
    margin-top: 20px;
    font-weight: 500;
    line-height: 2.4 ;
}

.ul3 {
    font-size: 14px;
    color: #938e8e;
    font-weight: 500;
    position: relative;
    top: 45px;
    text-transform: capitalize;
    line-height: 2.4 ;
}

.ul4 {
    font-size: 14px;
    color: #938e8e;
    font-weight: 500;
    position: relative;
    top: 45px;
    text-transform: capitalize;
    line-height: 2.4;
}

.f_div2 h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.f_div2 img {
    margin: 20px 0 10px 0;
}
.ul5 {
    line-height: 1.7;
    text-transform: capitalize;
}
.ul5 li:first-child {
    color: var(--mainColor2);
}
.ul5 li:last-child {
    color: #938e8e;
}

.f_div3 {
    position: relative;
}
.f_div3 h2 {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.div3_1,
.div3_2,
.div3_3 {
    display: flex;
    margin: 15px 0px;
    line-height: var(--mainLineheight);
    position: relative;
    top: 15px;
}
.div3_1,
.div3_3 p {
    color: var(--mainColor1);
    font-size: 14px;
}
.div3_2 p {
    color: #bab2b2;
    font-size: 13px;

}
.div3_1 i,
.div3_2 i {
    margin-right: 15px;
    color: var(--mainColor2);
    font-size: 16px;
    position: relative;
    top: 9px;
}
.div3_3 i {
    margin-right: 15px;
    color: var(--mainColor2);
    font-size: 20px;
    position: relative;
    top: 4px;
}
.div4 {
    position: absolute;
    top: 320px;
    right: 75px;
}
.div4 h2 {
    text-transform: capitalize;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
}
.div4 input {
    height: 45px;
    font-weight: 500;
    font-size: 14px;
    color: var(--mainColor1);
    padding: 0 10px;
    border: 2px solid #e4dfdf;
    border-radius: 5px;
    outline: hidden;
}
.div4 button {
    width: 90px;
    height: 40px;
    background-color: var(--mainColor2);
    color:white;
    margin: 30px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    border-radius: 5px;
    transition:0.3s all linear;
    cursor:pointer;
}
.div4 button:hover {
    transform: translateZ(1px);
    box-shadow: 0px 3px 5px black;
        
}
.p0 {
    font-size: 12px;
    color: #a8a1a1;
    cursor:default;
    display: flex;
    justify-content: center;
    align-items: end;
}
.footer ul li:hover {
    color: #3d3d3d;
    cursor: pointer;
}
::selection {
    background-color: black;
    color: white;
}
